
@font-face {
	font-family: Montserrat-Regular;
	font-display: swap;
	src: url("../fonts/Montserrat-Regular.ttf") ;
	font-style: normal;
}
@font-face {
	font-family: Montserrat-Medium;
	font-display: swap;
	src: url("../fonts/Montserrat-Medium.ttf") ;
	font-style: normal;
}
@font-face {
	font-family: Montserrat-SemiBold;
	font-display: swap;
	src: url("../fonts/Montserrat-SemiBold.ttf") ;
	font-style: normal;
}
h1{
   font-family:  Montserrat-SemiBold;
}
.intro{
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
	/* background: rgb(7,25,35);
	background: linear-gradient(103deg, rgba(7,25,35,1) 40%, rgba(144,173,193,1) 88%);
background: #071923; */
position: relative;

max-width: none;
margin:  0;
}
.intro__img{
   width: 100%;
	height: 100vh;
   object-fit:cover ;
   object-position: center top;
	filter: brightness(40%)
   
}
.intro__inner{
width: 100%;
display: flex;
justify-content: center;	
}





.intro__item{
	position: absolute;
	bottom: 10%;
	width: 100%;
	max-width: 652px;
	display: flex;
	flex-direction: column;
}
.intro__item-img{
	width: 100%;
	/* max-width: 339px; */
	object-fit: cover;
}
.intro__item-ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 25px;
	gap: 16px;
}


.intro__item-li {
}
.intro__item-link {
	font-size: 18px;
}
.cooperation{
	display: flex;
	justify-content: center;
	background-color: #071923;
	padding: 30px 0;
	max-width: none;
margin:  0;
}
.cooperation__item {
	padding: 0 10px;
	max-width: 662px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.cooperation__link {
	font-size: 16px;
}
.cooperation__ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}
.cooperation__li {
}
.cooperation__img {
}


.about-us {
	
}
.about-us__img {
	width: 100%;
margin-bottom: 59px;
	max-width:  570px;
}
.about-us__inner {
	padding: 0 10px;
	gap: 20px;
	display: flex;
	justify-content: space-between;
}
.about-us__item {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}
.about-us__item:first-child{
	width: 100%;
	max-width: 570px;
} 

.about-us__item:last-child{
	width: 100%;
	max-width: 475px;
	align-items: flex-start;
} 
.about-us__item-text{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}


.about-us__item-text {
	font-size: 16px;
	font-family: Montserrat-Regular;
	color: rgba(7, 25, 35, 0.76);
}
.about-us__item-img {
	width: 100%;
	max-width: 475px;
	object-fit: contain;
}

.section__statistics {
	background: #071923;
	max-width: none;
	
}
.statistics{
	padding: 58px 10px 126px;
	width: 100%;
	max-width: 1140px;
margin: 0 auto ;
color: #FFF;
}

.statistics__inner {
	margin-top: 64px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 40px;
}
.statistics__item {

display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
text-align: center;

}



.statistics__block {
}
.statistics__block-title {
}
.statistics__block-span {
	font-size: 60px;
	
}
.statistics__item-hr {
	width: 41px;
height: 1px;
background-color: #fff;
	margin: 11px 0 16px;
}
.statistics__item-text {
}

.statistics__item:last-child  {
	border-radius: 5px;
	border: 1px solid #FFF;
	padding: 10px 20px;
	
}
	
	.statistics__item:last-child >	.statistics__block >h3, 
	.statistics__item:last-child >	.statistics__block >span
	{
		font-size: 90px;
}
		
		







.section__we-trust {
	margin-top: 138px;
}
.we-trust {
	padding: 0 10px;
}
.we-trust__title {
	color: #071923;
	font-family: Montserrat-SemiBold;
}
.we-trust__inner {
	margin-top: 69px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
}
.we-trust__item {
	transition: all .6s;
	border-radius: 7px;
}
.we-trust__item:hover {
	transform: translateY(-20px);
	
}
.we-trust__item-img {
}

.footer {
	width: 100%;
	max-width: 1140px;
margin: 168px auto 0;
display: flex;
justify-content: space-between;
align-items: center;
gap: 20px 100px;
padding: 0 10px 159px 10px;
flex-wrap: wrap-reverse;
}
.footer__item {
	display: flex;
justify-content: space-between;
align-items: center;
gap: 20px;
}
.footer__copyright {
	color: #071923;;
}
.footer__item-link {
	
}
.footer__item-img {
	width: 29px;
	height: 28px;
}

@media (max-width:980px) {
	
	
	.intro__item{
		padding: 0 10px;
		bottom: 38%;
		align-items: center;
	}
	.intro__item-img{
		max-width: 400px;
		object-fit: cover;
	}
	.cooperation{
		min-height: 10dvh;
		transform: translateY(-20vh);
		background-color: transparent;
	}
	.cooperation__item {
		flex-wrap: wrap;
	}
	.cooperation__link{
		font-size: 18px;
	}
	.cooperation__ul{
		gap: 13px;
	}
	.cooperation__li{
		width: 35px;
	}
	section {
		margin: 83px auto 0;
  }
  .about-us{
	text-align: center;
	margin-top: 50px;
  }
  .about-us__img {
	margin-bottom: 39px;
	max-width: 370px;
	padding: 0 10px;
}
.about-us__item:first-child {
	width: 100%;
	max-width: 470px;
}
.about-us__item {
	gap: 22px;
	justify-content: center;
	text-align: left;
}
.about-us__item-text{
	font-size: 14px;
}
.statistics__item:last-child >	.statistics__block >h3, 
	.statistics__item:last-child >	.statistics__block >span
	{
		font-size: 60px;
}

.we-trust__inner{
	justify-content: space-around;
}
.section__we-trust {
	margin-top: 98px;
}
.intro__item{

}

.intro__item-img{
	animation: transform 2s linear ;

}
.intro__item-ul{	animation: transform 2.5s linear ;
}


@keyframes transform{
	0% {
	transform: translateX(-300%);
	opacity: 0;
	}
 
	50% {
		transform: translateX(20%);
		opacity: .5;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
 }

 @keyframes transformY{
	0% {
	transform: translateY(300%);
	opacity: 0;
	}
 
	
	100% {
		transform: translateY(0);
		opacity: 1;
	}
 }

.cooperation__link{animation: transformY .8s linear}
.cooperation__ul{animation: transformY .8s linear}

}
@media (max-width:860px){

	

	.about-us__inner {
		padding: 0 10px;
		gap: 20px;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		align-items: center;
  }

  .statistics__inner {
	justify-content: center;
	gap: 30px 10px;
}

h2 {
	font-size: 45px;
	font-family: Montserrat-Medium;
	text-align: center;
}
h3{
	font-size: 45px;
}

.statistics__block-span{
	font-size: 45px;
}
.statistics__item:last-child >	.statistics__block >h3, 
	.statistics__item:last-child >	.statistics__block >span
	{
		font-size: 50px;
}
.statistics__item{
	width: 45%;
}
.statistics__item:last-child{
	width: 90%;
}
.statistics{
	padding: 30px 0;
}
.we-trust__item{
	width: 40%;
	text-align: center;
}

.footer {
	margin-top: 80px;
}
}
@media (max-width:540px) {
	
	.intro__item-img{
		max-width: 400px;
		width: 220px;
	}
	.intro__item-link{
		font-size: 10px;
	}
	
	.cooperation__link{
		font-size: 8px;
	}
	.cooperation{
		padding: 20px 0;
	}
	.cooperation__ul{
		gap: 7px;
	}
	.cooperation__li{
		width: 20px;
	}
	.about-us{
		text-align: center;
		margin-top: 50px;
	  }
	.about-us__item{
		width: 100%;
		padding: 20px 10px;
	
	  }
	  
	  .about-us__item-text:nth-child(2n) {
		background: #071923;
		color: #fff;
		 width: 100vw;
		 padding: 20px ;
	  }
	  h2{
		font-size: 30px;
	  }
	  h3{
		font-size: 30px;
	  }

	  .statistics__block-span{
		font-size: 30px;
	  }

	  .statistics__item:last-child >	.statistics__block >h3, 
	.statistics__item:last-child >	.statistics__block >span
	{
		font-size: 35px;
}
section {
	margin: 43px auto 0;
}
.we-trust__inner{
	justify-content: space-around;
}
.section__we-trust {
	margin-top: 48px;
}
.we-trust__inner {
margin-top: 30px;
}
.footer {
	margin-top: 70px;
	justify-content: center;
flex-wrap: wrap-reverse;
padding: 20px 0 50px 0;
}
	  
}
@media (max-width:480px) {
	.about-us{
		margin: 10px 0;
	}
	.about-us__item-text{
		font-size: 10px;
	  }
	  .about-us__img {
		margin-bottom: 20px;
		
  }
  .intro__item-link{
	font-size: 8px;

  }
  .intro__item{
	bottom: 28%;
  }
  .intro__item-ul{
	flex-direction: column;
  }
  .intro__item-link{
	font-size: 12px;
  }
  .cooperation{
	transform: translateY(-12vh);
  }
}